#gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8px, 32px));
  grid-template-rows: repeat(auto-fill, minmax(8px, 32px));
  width: 512px;
  height: 512px;
  
}

#header {
  display: flex;
  justify-content: center;
}